.row{
 position:relative;
 margin-left:10%;
 margin-right:10%;
}

.light.cell {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  background-color: #FAF0E6;
  float: left;
}

.dark.cell {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  background-color: #2E8B57;
  float: left;
}

.clear {
  clear: both;
}

#footer {
 border:solid 1px;
 padding: 10px;
 margin:10px;
 background-color: #FAF0E6;
}

body {
 background-image:url(https://images.pexels.com/photos/338936/pexels-photo-338936.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
 background-size: 1920px, 1080px;
 background-repeat: no-repeat;
 background-position: 50% 50%;
}

#container {
 margin-top:20%;
 margin-left:10%;
 margin-right:10%;
 margin-bottom:5%;
}

#title {
 position:fixed;
 top:0px;
 left:0px; 
 padding:10px;
 margin:0px;
 width:100%;
 background-color: #FAF0E6;
 text-align:center; 
 z-index:10;
 font-family: 'Letterng', sans-serif; 
 font-weight: normal; 
 font-style: normal; 
 font-size:36px;
 color: #2E8B57;
}

.rookb { 
 margin-left: 30%;
 margin-top: 30%; 
}

.rookw { 
 margin-left: 30%;
 margin-top: 30%; 
}

.knightb{
 margin-left: 30%;
 margin-top: 30%;  
}

.knightw{
 margin-left: 30%;
 margin-top: 30%;  
}

.bishopb {
 margin-left: 30%;
 margin-top: 30%; 
}

.bishopw {
 margin-left: 30%;
 margin-top: 30%; 
}

.queenb {
 margin-left: 30%;
 margin-top: 30%; 
}

.queenw {
 margin-left: 30%;
 margin-top: 30%; 
}

.kingb {
 margin-left: 30%;
 margin-top: 30%;
}

.kingw {
 margin-left: 30%;
 margin-top: 30%;
}

.pawnb {
 margin-left: 30%;
 margin-top: 30%;
}

.pawnw {
 margin-left: 30%;
 margin-top: 30%;
}
